*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudoPagina{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(70deg, rgb(131, 16, 225) 0%, rgb(30, 154, 255) 35%, rgba(0,212,255,1) 70%, rgb(0, 255, 195) 100%);
    min-height: 150vh;
}

.blocoIntroducao{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 80%;
    border-radius: 25px;
    box-shadow: rgba(68, 64, 64, 0.34) 10px 13px 8px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo{
    width: 100%;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(16, 62, 89, 0.205) 0px 5px 8px;
}

.divLista{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    height: 450px;
    width: 320px;
    margin: 0px 0px 30px 0px;
    border-radius: 25px;
    box-shadow: rgba(68, 64, 64, 0.34) 10px 13px 8px;
}

.descricao{
   display: flex;
   flex-wrap: wrap;
}

.ajusteBotaoCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ajusteBotaoCard button{
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(16, 62, 89, 0.4) 0px 0px 8px;
    cursor: pointer;
}

.divLista .card img{
    width: 100%;
    height: 250px;
    border-radius: 25px;
    object-fit: cover;
    aspect-ratio: 4/16;
}

.divLista .card p{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 0px 20px;
}